@using QuanLyBanHang.Models;
@model List<Product>

@{
    ViewBag.Title = "Camera";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="py-1">
    <center> <h3> Các sản phẩm máy chụp ảnh </h3> </center>
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            @foreach (var item in Model)
            {
                <div class="col mb-5">
                    <div class="card h-100">
                        <!-- Product image-->
                        <a href="@Url.Action("SeeDetails", new {@Id=item.Id })">
                            <center>
                                <img src="data:image;base64,@Convert.ToBase64String(item.Image)" class="img-responsive" alt="" width="200" height="150" />
                            </center>
                        </a>
                        <!-- Product details-->
                        <div class="card-body p-4">
                            <div class="text-center">
                                <!-- Product name-->
                                <h5 class="fw-bolder">@item.Name</h5>
                                <!-- Product price-->
                                Giá: @String.Format("{0:0,0}", @item.Price) $
                            </div>
                        </div>
                        <!-- Product actions-->
                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                            <div class="text-center">
                                @using (Html.BeginForm("ThemGioHang", "Cart", new { @iId = item.Id, @strURL = Request.Url.ToString() }))
                                {
                                    <input type="submit" value="Thêm vào giỏ hàng" id="bgnGioHang" class="btn btn-outline-dark mt-auto" />
                                }
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>

