<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://vohoangtruonghuy-001-site1.dtempurl.com/</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <MSDeployServiceURL>https://win8102.site4now.net:8172/msdeploy.axd?site=vohoangtruonghuy-001-site1</MSDeployServiceURL>
    <DeployIisAppPath>vohoangtruonghuy-001-site1</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>false</EnableMsDeployAppOffline>
    <UserName>vohoangtruonghuy-001</UserName>
    <_SavePWD>false</_SavePWD>
    <PrecompileBeforePublish>true</PrecompileBeforePublish>
    <EnableUpdateable>true</EnableUpdateable>
    <DebugSymbols>false</DebugSymbols>
    <WDPMergeOption>DonotMerge</WDPMergeOption>
    <PublishDatabaseSettings>
      <Objects>
        <ObjectGroup Name="QuanLyBanHangEntities" Order="1" Enabled="False">
          <Destination Path="Data Source=SQL8010.site4now.net;Initial Catalog=db_aa8d3e_vohoangtruonghuy;User ID=db_aa8d3e_vohoangtruonghuy_admin;Password=Truonghuy0403@" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="QuanLyBanHang.Models.QuanLyBanHangEntities, QuanLyBanHang" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="QuanLyBanHangEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.EntityState.csdl|res://*/Models.EntityState.ssdl|res://*/Models.EntityState.msl;provider=System.Data.SqlClient;provider connection string="Data Source=SQL8010.site4now.net;Initial Catalog=db_aa8d3e_vohoangtruonghuy;User ID=db_aa8d3e_vohoangtruonghuy_admin;Password=Truonghuy0403@"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>